<div class="row" style="padding-bottom: 5px;">
	<%= div_for shout do %>
		<div class="col-sm-2">
			<%= gravatar shout.user %>
			<%= link_to shout.user.username, shout.user %>
		</div>
		<div class="col-sm-6">
			<%= render shout.content %>
		</div>
		<div class="col-sm-2">
			<%= link_to time_ago_in_words(shout.created_at), shout %>
		</div>
	<% end %>
</div>